@import "tailwindcss";

@layer base{
   html , body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border: none ;
   }
}
@theme{
     --color-dark-bg: #030D1EFF;
     --color-brand-primary: #09d3b4;
     --color-brand-secondary: #049e87;
     --color-brand-gray: #272F3E;
     --color-brand-info: #dff6f4;
     --color-brand-orange: #ef732d;
     --color-brand-blue: #3786f6;
     --color-brand-red:  #D22C4EFF;

}
body{
     font-family: 'Vazirmatn UI', sans-serif;
}
.swiper-button-prev,
.swiper-button-next {
     width: 25px !important;
     height: 25px !important;
     border-radius: 50%;
     background: rgba(255, 255, 255, 0.62);
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
     @media screen  and (min-width: 768px){
          width: 40px !important;
          height: 40px !important;
     }
}

.swiper-button-prev > .swiper-navigation-icon,
.swiper-button-next > .swiper-navigation-icon{
     width: 7px;
     color: #4c4e55 !important;
     @media screen  and (min-width: 768px){
          width: 10px !important;

     }
}
.swiper-pagination-bullet {
     width: 10px !important;
     height: 1px !important;
     border-radius: 0 !important;
     background: #d1d5db !important;
     margin: -10px 2px !important;
     opacity: 1;
     transition: all 0.3s ease;

     @media screen  and (min-width: 992px){
          width: 36px !important;
          height: 4px !important;
     }
}

.swiper-pagination-bullet-active {
     width: 20px !important;
     @media screen  and (min-width: 992px){
          width: 50px !important;

     }
}
.marquee-swiper .swiper-wrapper{
     transition-timing-function: linear !important;
}

@media screen and (min-width: 768px) {
     .swiper-button-prev{
          margin-left:50px !important;
     }
}

